*{
    margin: 0;
    padding: 0;
}

.card{
    transition: transform 500ms ease;
    overflow: hidden;
}

.card-content{
    transform: translateY(67%);
    transition: transform 500ms ease;
}

.card:hover .card-content{
    transform: translateY(0);
}

.animation:hover{
    transform: scale(1.05);
    background-color: whitesmoke;
    /* background-color: rgba(255, 255, 255, 0.945); */
}

.teamcard{
    transform: translateX(60%);
}


